#################################################
# Localization file generated for Minecraft 1.7 #
#################################################

language:
  name: language.name
  region: language.region
  code: language.code

itemName:
  STONE: tile.stone.name
  GRASS: tile.grass.name
  DIRT: tile.dirt.default.name
  'DIRT:1': tile.dirt.podzol.name
  COBBLESTONE: tile.stonebrick.name
  WOOD: tile.wood.name
  'WOOD:0': tile.wood.oak.name
  'WOOD:1': tile.wood.spruce.name
  'WOOD:2': tile.wood.birch.name
  'WOOD:3': tile.wood.jungle.name
  'WOOD:4': tile.wood.acacia.name
  'WOOD:5': tile.wood.big_oak.name
  SAPLING: tile.sapling.oak.name
  'SAPLING:1': tile.sapling.spruce.name
  'SAPLING:2': tile.sapling.birch.name
  'SAPLING:3': tile.sapling.jungle.name
  'SAPLING:4': tile.sapling.acacia.name
  'SAPLING:5': tile.sapling.roofed_oak.name
  BEDROCK: tile.bedrock.name
  WATER: tile.water.name
  STATIONARY_WATER: tile.water.name
  LAVA: tile.lava.name
  STATIONARY_LAVA: tile.lava.name
  SAND: tile.sand.default.name
  'SAND:1': tile.sand.red.name
  GRAVEL: tile.gravel.name
  GOLD_ORE: tile.oreGold.name
  IRON_ORE: tile.oreIron.name
  COAL_ORE: tile.oreCoal.name
  LOG: tile.log.name
  'LOG:0': tile.log.oak.name
  'LOG:1': tile.log.spruce.name
  'LOG:2': tile.log.birch.name
  'LOG:3': tile.log.jungle.name
  LEAVES: tile.leaves.name
  'LEAVES:0': tile.log.oak.name
  'LEAVES:1': tile.log.spruce.name
  'LEAVES:2': tile.log.birch.name
  'LEAVES:3': tile.log.jungle.name
  SPONGE: tile.sponge.name
  GLASS: tile.glass.name
  LAPIS_ORE: tile.oreLapis.name
  LAPIS_BLOCK: tile.blockLapis.name
  DISPENSER: tile.dispenser.name
  SANDSTONE: tile.sandStone.default.name
  'SANDSTONE:1': tile.sandStone.chiseled.name
  'SANDSTONE:2': tile.sandStone.smooth.name
  NOTE_BLOCK: tile.musicBlock.name
  BED_BLOCK: tile.bed.name
  POWERED_RAIL: tile.goldenRail.name
  DETECTOR_RAIL: tile.detectorRail.name
  PISTON_STICKY_BASE: tile.pistonStickyBase.name
  WEB: tile.web.name
  LONG_GRASS: tile.tallgrass.name
  'LONG_GRASS:0': tile.tallgrass.shrub.name
  'LONG_GRASS:1': tile.tallgrass.grass.name
  'LONG_GRASS:2': tile.tallgrass.fern.name
  DEAD_BUSH: tile.deadbush.name
  PISTON_BASE: tile.pistonBase.name
  WOOL: tile.cloth.white.name
  'WOOL:1': tile.cloth.orange.name
  'WOOL:2': tile.cloth.magenta.name
  'WOOL:3': tile.cloth.lightBlue.name
  'WOOL:4': tile.cloth.yellow.name
  'WOOL:5': tile.cloth.lime.name
  'WOOL:6': tile.cloth.pink.name
  'WOOL:7': tile.cloth.gray.name
  'WOOL:8': tile.cloth.silver.name
  'WOOL:9': tile.cloth.cyan.name
  'WOOL:10': tile.cloth.purple.name
  'WOOL:11': tile.cloth.blue.name
  'WOOL:12': tile.cloth.brown.name
  'WOOL:13': tile.cloth.green.name
  'WOOL:14': tile.cloth.red.name
  'WOOL:15': tile.cloth.black.name
  YELLOW_FLOWER: tile.flower1.dandelion.name
  RED_ROSE: tile.flower2.poppy.name
  'RED_ROSE:1': tile.flower2.blueOrchid.name
  'RED_ROSE:2': tile.flower2.allium.name
  'RED_ROSE:3': tile.flower2.houstonia.name
  'RED_ROSE:4': tile.flower2.tulipRed.name
  'RED_ROSE:5': tile.flower2.tulipOrange.name
  'RED_ROSE:6': tile.flower2.tulipWhite.name
  'RED_ROSE:7': tile.flower2.tulipPink.name
  'RED_ROSE:8': tile.flower2.oxeyeDaisy.name
  BROWN_MUSHROOM: tile.mushroom.name
  RED_MUSHROOM: tile.mushroom.name
  GOLD_BLOCK: tile.blockGold.name
  IRON_BLOCK: tile.blockIron.name
  DOUBLE_STEP: tile.stoneSlab.stone.name
  'DOUBLE_STEP:1': tile.stoneSlab.sand.name
  'DOUBLE_STEP:2': tile.stoneSlab.wood.name
  'DOUBLE_STEP:3': tile.stoneSlab.cobble.name
  'DOUBLE_STEP:4': tile.stoneSlab.brick.name
  'DOUBLE_STEP:5': tile.stoneSlab.smoothStoneBrick.name
  'DOUBLE_STEP:6': tile.stoneSlab.netherBrick.name
  'DOUBLE_STEP:7': tile.stoneSlab.quartz.name
  STEP: tile.stoneSlab.stone.name
  'STEP:1': tile.stoneSlab.sand.name
  'STEP:2': tile.stoneSlab.wood.name
  'STEP:3': tile.stoneSlab.cobble.name
  'STEP:4': tile.stoneSlab.brick.name
  'STEP:5': tile.stoneSlab.smoothStoneBrick.name
  'STEP:6': tile.stoneSlab.netherBrick.name
  'STEP:7': tile.stoneSlab.quartz.name
  BRICK: tile.brick.name
  TNT: tile.tnt.name
  BOOKSHELF: tile.bookshelf.name
  MOSSY_COBBLESTONE: tile.stoneMoss.name
  OBSIDIAN: tile.obsidian.name
  TORCH: tile.torch.name
  FIRE: tile.fire.name
  MOB_SPAWNER: tile.mobSpawner.name
  WOOD_STAIRS: tile.stairsWood.name
  CHEST: tile.chest.name
  REDSTONE_WIRE: tile.redstoneDust.name
  DIAMOND_ORE: tile.oreDiamond.name
  DIAMOND_BLOCK: tile.blockDiamond.name
  WORKBENCH: tile.workbench.name
  CROPS: tile.crops.name
  SOIL: tile.farmland.name
  FURNACE: tile.furnace.name
  BURNING_FURNACE: tile.furnace.name
  SIGN_POST: tile.sign.name
  WOODEN_DOOR: tile.doorWood.name
  LADDER: tile.ladder.name
  RAILS: tile.rail.name
  COBBLESTONE_STAIRS: tile.stairsStone.name
  WALL_SIGN: tile.sign.name
  LEVER: tile.lever.name
  STONE_PLATE: tile.pressurePlate.name
  IRON_DOOR_BLOCK: tile.doorIron.name
  WOOD_PLATE: tile.pressurePlate.name
  REDSTONE_ORE: tile.oreRedstone.name
  GLOWING_REDSTONE_ORE: tile.oreRedstone.name
  REDSTONE_TORCH_OFF: tile.notGate.name
  REDSTONE_TORCH_ON: tile.notGate.name
  STONE_BUTTON: tile.button.name
  SNOW: tile.snow.name
  ICE: tile.ice.name
  SNOW_BLOCK: tile.snow.name
  CACTUS: tile.cactus.name
  CLAY: tile.clay.name
  SUGAR_CANE_BLOCK: tile.reeds.name
  JUKEBOX: tile.jukebox.name
  FENCE: tile.fence.name
  PUMPKIN: tile.pumpkin.name
  NETHERRACK: tile.hellrock.name
  SOUL_SAND: tile.hellsand.name
  GLOWSTONE: tile.lightgem.name
  PORTAL: tile.portal.name
  JACK_O_LANTERN: tile.litpumpkin.name
  CAKE_BLOCK: tile.cake.name
  LOCKED_CHEST: tile.lockedchest.name
  STAINED_GLASS: tile.stainedGlass.name
  'STAINED_GLASS:0': tile.stainedGlass.white.name
  'STAINED_GLASS:1': tile.stainedGlass.orange.name
  'STAINED_GLASS:2': tile.stainedGlass.magenta.name
  'STAINED_GLASS:3': tile.stainedGlass.lightBlue.name
  'STAINED_GLASS:4': tile.stainedGlass.yellow.name
  'STAINED_GLASS:5': tile.stainedGlass.lime.name
  'STAINED_GLASS:6': tile.stainedGlass.pink.name
  'STAINED_GLASS:7': tile.stainedGlass.gray.name
  'STAINED_GLASS:8': tile.stainedGlass.silver.name
  'STAINED_GLASS:9': tile.stainedGlass.cyan.name
  'STAINED_GLASS:10': tile.stainedGlass.purple.name
  'STAINED_GLASS:11': tile.stainedGlass.blue.name
  'STAINED_GLASS:12': tile.stainedGlass.brown.name
  'STAINED_GLASS:13': tile.stainedGlass.green.name
  'STAINED_GLASS:14': tile.stainedGlass.red.name
  'STAINED_GLASS:15': tile.stainedGlass.black.name
  TRAP_DOOR: tile.trapdoor.name
  MONSTER_EGGS: tile.monsterStoneEgg.stone.name
  'MONSTER_EGGS:1': tile.monsterStoneEgg.cobble.name
  'MONSTER_EGGS:2': tile.monsterStoneEgg.brick.name
  'MONSTER_EGGS:3': tile.monsterStoneEgg.mossybrick.name
  'MONSTER_EGGS:4': tile.monsterStoneEgg.crackedbrick.name
  'MONSTER_EGGS:4': tile.monsterStoneEgg.chiseledbrick.name
  SMOOTH_BRICK: tile.stonebricksmooth.name
  'SMOOTH_BRICK:0': tile.stonebricksmooth.default.name
  'SMOOTH_BRICK:1': tile.stonebricksmooth.mossy.name
  'SMOOTH_BRICK:2': tile.stonebricksmooth.cracked.name
  'SMOOTH_BRICK:3': tile.stonebricksmooth.chiseled.name
  HUGE_MUSHROOM_1: tile.mushroom.name
  HUGE_MUSHROOM_2: tile.mushroom.name
  IRON_FENCE: tile.fenceIron.name
  THIN_GLASS: tile.thinGlass.name
  MELON_BLOCK: tile.melon.name
  PUMPKIN_STEM: tile.pumpkin.name
  MELON_STEM: tile.melon.name
  VINE: tile.vine.name
  FENCE_GATE: tile.fenceGate.name
  BRICK_STAIRS: tile.stairsBrick.name
  SMOOTH_STAIRS: tile.stairsStoneBrickSmooth.name
  MYCEL: tile.mycel.name
  WATER_LILY: tile.waterlily.name
  NETHER_BRICK: tile.netherBrick.name
  NETHER_FENCE: tile.netherFence.name
  NETHER_BRICK_STAIRS: tile.stairsNetherBrick.name
  NETHER_WARTS: tile.netherStalk.name
  ENCHANTMENT_TABLE: tile.enchantmentTable.name
  BREWING_STAND: item.brewingStand.name
  CAULDRON: tile.cauldron.name
  ENDER_PORTAL: tile.endPortalFrame.name
  ENDER_PORTAL_FRAME: tile.endPortalFrame.name
  ENDER_STONE: tile.whiteStone.name
  DRAGON_EGG: tile.dragonEgg.name
  REDSTONE_LAMP_OFF: tile.redstoneLight.name
  REDSTONE_LAMP_ON: tile.redstoneLight.name
  WOOD_DOUBLE_STEP: tile.woodSlab.oak.name
  'WOOD_DOUBLE_STEP:1': tile.woodSlab.spruce.name
  'WOOD_DOUBLE_STEP:2': tile.woodSlab.birch.name
  'WOOD_DOUBLE_STEP:3': tile.woodSlab.jungle.name
  'WOOD_DOUBLE_STEP:4': tile.woodSlab.acacia.name
  'WOOD_DOUBLE_STEP:5': tile.woodSlab.big_oak.name
  WOOD_STEP: tile.woodSlab.oak.name
  'WOOD_STEP:1': tile.woodSlab.spruce.name
  'WOOD_STEP:2': tile.woodSlab.birch.name
  'WOOD_STEP:3': tile.woodSlab.jungle.name
  'WOOD_STEP:4': tile.woodSlab.acacia.name
  'WOOD_STEP:5': tile.woodSlab.big_oak.name
  COCOA: tile.cocoa.name
  SANDSTONE_STAIRS: tile.stairsSandStone.name
  EMERALD_ORE: tile.oreEmerald.name
  ENDER_CHEST: tile.enderChest.name
  TRIPWIRE_HOOK: tile.tripWireSource.name
  TRIPWIRE: tile.tripWire.name
  EMERALD_BLOCK: tile.blockEmerald.name
  SPRUCE_WOOD_STAIRS: tile.stairsWoodSpruce.name
  BIRCH_WOOD_STAIRS: tile.stairsWoodBirch.name
  JUNGLE_WOOD_STAIRS: tile.stairsWoodJungle.name
  COMMAND: tile.commandBlock.name
  BEACON: tile.beacon.name
  COBBLE_WALL: tile.cobbleWall.normal.name
  'COBBLE_WALL:1': tile.cobbleWall.mossy.name
  FLOWER_POT: item.flowerPot.name
  CARROT: tile.carrots.name
  POTATO: tile.potatoes.name
  WOOD_BUTTON: tile.button.name
  SKULL: item.skull.char.name
  ANVIL: tile.anvil.name
  'ANVIL:0': tile.anvil.intact.name
  'ANVIL:1': tile.anvil.slightlyDamaged.name
  'ANVIL:2': tile.anvil.veryDamaged.name
  TRAPPED_CHEST: tile.chestTrap.name
  GOLD_PLATE: tile.weightedPlate_light.name
  IRON_PLATE: tile.weightedPlate_heavy.name
  REDSTONE_COMPARATOR_OFF: item.comparator.name
  REDSTONE_COMPARATOR_ON: item.comparator.name
  DAYLIGHT_DETECTOR: tile.daylightDetector.name
  REDSTONE_BLOCK: tile.blockRedstone.name
  QUARTZ_ORE: tile.netherquartz.name
  HOPPER: tile.hopper.name
  QUARTZ_BLOCK: tile.quartzBlock.default.name
  'QUARTZ_BLOCK:1': tile.quartzBlock.chiseled.name
  'QUARTZ_BLOCK:2': tile.quartzBlock.lines.name
  QUARTZ_STAIRS: tile.stairsQuartz.name
  ACTIVATOR_RAIL: tile.activatorRail.name
  DROPPER: tile.dropper.name
  STAINED_CLAY: tile.clayHardenedStained.white.name
  'STAINED_CLAY:1': tile.clayHardenedStained.orange.name
  'STAINED_CLAY:2': tile.clayHardenedStained.magenta.name
  'STAINED_CLAY:3': tile.clayHardenedStained.lightBlue.name
  'STAINED_CLAY:4': tile.clayHardenedStained.yellow.name
  'STAINED_CLAY:5': tile.clayHardenedStained.lime.name
  'STAINED_CLAY:6': tile.clayHardenedStained.pink.name
  'STAINED_CLAY:7': tile.clayHardenedStained.gray.name
  'STAINED_CLAY:8': tile.clayHardenedStained.silver.name
  'STAINED_CLAY:9': tile.clayHardenedStained.cyan.name
  'STAINED_CLAY:10': tile.clayHardenedStained.purple.name
  'STAINED_CLAY:11': tile.clayHardenedStained.blue.name
  'STAINED_CLAY:12': tile.clayHardenedStained.brown.name
  'STAINED_CLAY:13': tile.clayHardenedStained.green.name
  'STAINED_CLAY:14': tile.clayHardenedStained.red.name
  'STAINED_CLAY:15': tile.clayHardenedStained.black.name
  STAINED_GLASS_PANE: tile.thinStainedGlass.name
  'STAINED_GLASS_PANE:0': tile.thinStainedGlass.white.name
  'STAINED_GLASS_PANE:1': tile.thinStainedGlass.orange.name
  'STAINED_GLASS_PANE:2': tile.thinStainedGlass.magenta.name
  'STAINED_GLASS_PANE:3': tile.thinStainedGlass.lightBlue.name
  'STAINED_GLASS_PANE:4': tile.thinStainedGlass.yellow.name
  'STAINED_GLASS_PANE:5': tile.thinStainedGlass.lime.name
  'STAINED_GLASS_PANE:6': tile.thinStainedGlass.pink.name
  'STAINED_GLASS_PANE:7': tile.thinStainedGlass.gray.name
  'STAINED_GLASS_PANE:8': tile.thinStainedGlass.silver.name
  'STAINED_GLASS_PANE:9': tile.thinStainedGlass.cyan.name
  'STAINED_GLASS_PANE:10': tile.thinStainedGlass.purple.name
  'STAINED_GLASS_PANE:11': tile.thinStainedGlass.blue.name
  'STAINED_GLASS_PANE:12': tile.thinStainedGlass.brown.name
  'STAINED_GLASS_PANE:13': tile.thinStainedGlass.green.name
  'STAINED_GLASS_PANE:14': tile.thinStainedGlass.red.name
  'STAINED_GLASS_PANE:15': tile.thinStainedGlass.black.name
  LEAVES_2: tile.leaves.name
  'LEAVES_2:0': tile.leaves.acacia.name
  'LEAVES_2:1': tile.leaves.big_oak.name
  LOG_2: tile.log.name
  'LOG_2:0': tile.log.acacia.name
  'LOG_2:1': tile.log.big_oak.name
  ACACIA_STAIRS: tile.stairsWoodAcacia.name
  DARK_OAK_STAIRS: tile.stairsWoodDarkOak.name
  HAY_BLOCK: tile.hayBlock.name
  CARPET: tile.woolCarpet.white.name
  'CARPET:1': tile.woolCarpet.orange.name
  'CARPET:2': tile.woolCarpet.magenta.name
  'CARPET:3': tile.woolCarpet.lightBlue.name
  'CARPET:4': tile.woolCarpet.yellow.name
  'CARPET:5': tile.woolCarpet.lime.name
  'CARPET:6': tile.woolCarpet.pink.name
  'CARPET:7': tile.woolCarpet.gray.name
  'CARPET:8': tile.woolCarpet.silver.name
  'CARPET:9': tile.woolCarpet.cyan.name
  'CARPET:10': tile.woolCarpet.purple.name
  'CARPET:11': tile.woolCarpet.blue.name
  'CARPET:12': tile.woolCarpet.brown.name
  'CARPET:13': tile.woolCarpet.green.name
  'CARPET:14': tile.woolCarpet.red.name
  'CARPET:15': tile.woolCarpet.black.name
  HARD_CLAY: tile.clayHardened.name
  COAL_BLOCK: tile.blockCoal.name
  PACKED_ICE: tile.icePacked.name
  DOUBLE_PLANT: tile.doublePlant.sunflower.name
  'DOUBLE_PLANT:1': tile.doublePlant.syringa.name
  'DOUBLE_PLANT:2': tile.doublePlant.grass.name
  'DOUBLE_PLANT:3': tile.doublePlant.fern.name
  'DOUBLE_PLANT:4': tile.doublePlant.rose.name
  'DOUBLE_PLANT:5': tile.doublePlant.paeonia.name
  IRON_SPADE: item.shovelIron.name
  IRON_PICKAXE: item.pickaxeIron.name
  IRON_AXE: item.hatchetIron.name
  FLINT_AND_STEEL: item.flintAndSteel.name
  APPLE: item.apple.name
  BOW: item.bow.name
  ARROW: item.arrow.name
  COAL: item.coal.name
  'COAL:1': item.charcoal.name
  DIAMOND: item.diamond.name
  IRON_INGOT: item.ingotIron.name
  GOLD_INGOT: item.ingotGold.name
  IRON_SWORD: item.swordIron.name
  WOOD_SWORD: item.swordWood.name
  WOOD_SPADE: item.shovelWood.name
  WOOD_PICKAXE: item.pickaxeWood.name
  WOOD_AXE: item.hatchetWood.name
  STONE_SWORD: item.swordStone.name
  STONE_SPADE: item.shovelStone.name
  STONE_PICKAXE: item.pickaxeStone.name
  STONE_AXE: item.hatchetStone.name
  DIAMOND_SWORD: item.swordDiamond.name
  DIAMOND_SPADE: item.shovelDiamond.name
  DIAMOND_PICKAXE: item.pickaxeDiamond.name
  DIAMOND_AXE: item.hatchetDiamond.name
  STICK: item.stick.name
  BOWL: item.bowl.name
  MUSHROOM_SOUP: item.mushroomStew.name
  GOLD_SWORD: item.swordGold.name
  GOLD_SPADE: item.shovelGold.name
  GOLD_PICKAXE: item.pickaxeGold.name
  GOLD_AXE: item.hatchetGold.name
  STRING: item.string.name
  FEATHER: item.feather.name
  SULPHUR: item.sulphur.name
  WOOD_HOE: item.hoeWood.name
  STONE_HOE: item.hoeStone.name
  IRON_HOE: item.hoeIron.name
  DIAMOND_HOE: item.hoeDiamond.name
  GOLD_HOE: item.hoeGold.name
  SEEDS: item.seeds.name
  WHEAT: item.wheat.name
  BREAD: item.bread.name
  LEATHER_HELMET: item.helmetCloth.name
  LEATHER_CHESTPLATE: item.chestplateCloth.name
  LEATHER_LEGGINGS: item.leggingsCloth.name
  LEATHER_BOOTS: item.bootsCloth.name
  CHAINMAIL_HELMET: item.helmetChain.name
  CHAINMAIL_CHESTPLATE: item.chestplateChain.name
  CHAINMAIL_LEGGINGS: item.leggingsChain.name
  CHAINMAIL_BOOTS: item.bootsChain.name
  IRON_HELMET: item.helmetIron.name
  IRON_CHESTPLATE: item.chestplateIron.name
  IRON_LEGGINGS: item.leggingsIron.name
  IRON_BOOTS: item.bootsIron.name
  DIAMOND_HELMET: item.helmetDiamond.name
  DIAMOND_CHESTPLATE: item.chestplateDiamond.name
  DIAMOND_LEGGINGS: item.leggingsDiamond.name
  DIAMOND_BOOTS: item.bootsDiamond.name
  GOLD_HELMET: item.helmetGold.name
  GOLD_CHESTPLATE: item.chestplateGold.name
  GOLD_LEGGINGS: item.leggingsGold.name
  GOLD_BOOTS: item.bootsGold.name
  FLINT: item.flint.name
  PORK: item.porkchopRaw.name
  GRILLED_PORK: item.porkchopCooked.name
  PAINTING: item.painting.name
  GOLDEN_APPLE: item.appleGold.name
  SIGN: item.sign.name
  WOOD_DOOR: item.doorWood.name
  BUCKET: item.bucket.name
  WATER_BUCKET: item.bucketWater.name
  LAVA_BUCKET: item.bucketLava.name
  MINECART: item.minecart.name
  SADDLE: item.saddle.name
  IRON_DOOR: item.doorIron.name
  REDSTONE: item.redstone.name
  SNOW_BALL: item.snowball.name
  BOAT: item.boat.name
  LEATHER: item.leather.name
  MILK_BUCKET: item.milk.name
  CLAY_BRICK: item.brick.name
  CLAY_BALL: item.clay.name
  SUGAR_CANE: item.reeds.name
  PAPER: item.paper.name
  BOOK: item.book.name
  SLIME_BALL: item.slimeball.name
  STORAGE_MINECART: item.minecartChest.name
  POWERED_MINECART: item.minecartFurnace.name
  EGG: item.egg.name
  COMPASS: item.compass.name
  FISHING_ROD: item.fishingRod.name
  WATCH: item.clock.name
  GLOWSTONE_DUST: item.yellowDust.name
  RAW_FISH: item.fish.cod.raw.name
  'RAW_FISH:1': item.fish.salmon.raw.name
  'RAW_FISH:2': item.fish.clownfish.raw.name
  'RAW_FISH:3': item.fish.pufferfish.raw.name
  COOKED_FISH: item.fish.cod.cooked.name
  'COOKED_FISH:1': item.fish.salmon.cooked.name
  INK_SACK: item.dyePowder.black.name
  'INK_SACK:1': item.dyePowder.red.name
  'INK_SACK:2': item.dyePowder.green.name
  'INK_SACK:3': item.dyePowder.brown.name
  'INK_SACK:4': item.dyePowder.blue.name
  'INK_SACK:5': item.dyePowder.purple.name
  'INK_SACK:6': item.dyePowder.cyan.name
  'INK_SACK:7': item.dyePowder.silver.name
  'INK_SACK:8': item.dyePowder.gray.name
  'INK_SACK:9': item.dyePowder.pink.name
  'INK_SACK:10': item.dyePowder.lime.name
  'INK_SACK:11': item.dyePowder.yellow.name
  'INK_SACK:12': item.dyePowder.lightBlue.name
  'INK_SACK:13': item.dyePowder.magenta.name
  'INK_SACK:14': item.dyePowder.orange.name
  'INK_SACK:15': item.dyePowder.white.name
  BONE: item.bone.name
  SUGAR: item.sugar.name
  CAKE: item.cake.name
  BED: item.bed.name
  DIODE: item.diode.name
  COOKIE: item.cookie.name
  MAP: item.map.name
  SHEARS: item.shears.name
  MELON: item.melon.name
  PUMPKIN_SEEDS: item.seeds_pumpkin.name
  MELON_SEEDS: item.seeds_melon.name
  RAW_BEEF: item.beefRaw.name
  COOKED_BEEF: item.beefCooked.name
  RAW_CHICKEN: item.chickenRaw.name
  COOKED_CHICKEN: item.chickenCooked.name
  ROTTEN_FLESH: item.rottenFlesh.name
  ENDER_PEARL: item.enderPearl.name
  BLAZE_ROD: item.blazeRod.name
  GHAST_TEAR: item.ghastTear.name
  GOLD_NUGGET: item.goldNugget.name
  NETHER_STALK: item.netherStalkSeeds.name
  POTION: item.potion.name
  'POTION:0': item.emptyPotion.name
  GLASS_BOTTLE: item.glassBottle.name
  SPIDER_EYE: item.spiderEye.name
  FERMENTED_SPIDER_EYE: item.fermentedSpiderEye.name
  BLAZE_POWDER: item.blazePowder.name
  MAGMA_CREAM: item.magmaCream.name
  BREWING_STAND_ITEM: item.brewingStand.name
  CAULDRON_ITEM: item.cauldron.name
  EYE_OF_ENDER: item.eyeOfEnder.name
  SPECKLED_MELON: item.speckledMelon.name
  MONSTER_EGG: item.monsterPlacer.name
  EXP_BOTTLE: item.expBottle.name
  FIREBALL: item.fireball.name
  BOOK_AND_QUILL: item.writingBook.name
  WRITTEN_BOOK: item.writtenBook.name
  EMERALD: item.emerald.name
  ITEM_FRAME: item.frame.name
  FLOWER_POT_ITEM: item.flowerPot.name
  CARROT_ITEM: item.carrots.name
  POTATO_ITEM: item.potato.name
  BAKED_POTATO: item.potatoBaked.name
  POISONOUS_POTATO: item.potatoPoisonous.name
  EMPTY_MAP: item.emptyMap.name
  GOLDEN_CARROT: item.carrotGolden.name
  SKULL_ITEM: item.skull.char.name
  'SKULL_ITEM:0': item.skull.skeleton.name
  'SKULL_ITEM:1': item.skull.wither.name
  'SKULL_ITEM:2': item.skull.zombie.name
  'SKULL_ITEM:3': item.skull.player.name
  'SKULL_ITEM:4': item.skull.creeper.name
  CARROT_STICK: item.carrotOnAStick.name
  NETHER_STAR: item.netherStar.name
  PUMPKIN_PIE: item.pumpkinPie.name
  FIREWORK: item.fireworks.name
  FIREWORK_CHARGE: item.fireworksCharge.name
  ENCHANTED_BOOK: item.enchantedBook.name
  REDSTONE_COMPARATOR: item.comparator.name
  NETHER_BRICK_ITEM: item.netherbrick.name
  QUARTZ: item.netherquartz.name
  EXPLOSIVE_MINECART: item.minecartTnt.name
  HOPPER_MINECART: item.minecartHopper.name
  IRON_BARDING: item.horsearmormetal.name
  GOLD_BARDING: item.horsearmorgold.name
  DIAMOND_BARDING: item.horsearmordiamond.name
  LEASH: item.leash.name
  NAME_TAG: item.nameTag.name
  COMMAND_MINECART: item.minecartCommandBlock.name
  GOLD_RECORD: item.record.13.desc
  GREEN_RECORD: item.record.cat.desc
  RECORD_3: item.record.blocks.desc
  RECORD_4: item.record.chirp.desc
  RECORD_5: item.record.far.desc
  RECORD_6: item.record.mall.desc
  RECORD_7: item.record.mellohi.desc
  RECORD_8: item.record.stal.desc
  RECORD_9: item.record.strad.desc
  RECORD_10: item.record.ward.desc
  RECORD_11: item.record.11.desc
  RECORD_12: item.record.wait.desc

itemExtra:
  record: item.record.name

enchantmentName:
  DURABILITY: enchantment.durability
  PROTECTION_ENVIRONMENTAL: enchantment.protect.all
  LOOT_BONUS_BLOCKS: enchantment.lootBonusDigger
  PROTECTION_FIRE: enchantment.protect.fire
  DIG_SPEED: enchantment.digging
  PROTECTION_FALL: enchantment.protect.fall
  SILK_TOUCH: enchantment.untouching
  PROTECTION_EXPLOSIONS: enchantment.protect.explosion
  PROTECTION_PROJECTILE: enchantment.protect.projectile
  OXYGEN: enchantment.oxygen
  WATER_WORKER: enchantment.waterWorker
  THORNS: enchantment.thorns
  ARROW_INFINITE: enchantment.arrowInfinite
  DAMAGE_UNDEAD: enchantment.damage.undead
  ARROW_FIRE: enchantment.arrowFire
  DAMAGE_ALL: enchantment.damage.all
  ARROW_KNOCKBACK: enchantment.arrowKnockback
  KNOCKBACK: enchantment.knockback
  ARROW_DAMAGE: enchantment.arrowDamage
  DAMAGE_ARTHROPODS: enchantment.damage.arthropods
  LOOT_BONUS_MOBS: enchantment.lootBonus
  FIRE_ASPECT: enchantment.fire
  LURE: enchantment.fishingSpeed
  LUCK: enchantment.lootBonusFishing

enchantmentLevel:
  '1': enchantment.level.1
  '2': enchantment.level.2
  '3': enchantment.level.3
  '4': enchantment.level.4
  '5': enchantment.level.5
  '6': enchantment.level.6
  '7': enchantment.level.7
  '8': enchantment.level.8
  '9': enchantment.level.9
  '10': enchantment.level.10

potionEffect:
  SPEED: potion.moveSpeed
  SLOW: potion.moveSlowdown
  FAST_DIGGING: potion.digSpeed
  SLOW_DIGGING: potion.digSlowDown
  INCREASE_DAMAGE: potion.damageBoost
  HEAL: potion.heal
  HARM: potion.harm
  JUMP: potion.jump
  CONFUSION: potion.confusion
  REGENERATION: potion.regeneration
  DAMAGE_RESISTANCE: potion.resistance
  FIRE_RESISTANCE: potion.fireResistance
  WATER_BREATHING: potion.waterBreathing
  INVISIBILITY: potion.invisibility
  BLINDNESS: potion.blindness
  NIGHT_VISION: potion.nightVision
  HUNGER: potion.hunger
  WEAKNESS: potion.weakness
  POISON: potion.poison
  WITHER: potion.wither
  HEALTH_BOOST: potion.healthBoost
  ABSORPTION: potion.absorption
  SATURATION: potion.saturation

potionName:
  SPEED: potion.moveSpeed.postfix
  SLOW: potion.moveSlowdown.postfix
  FAST_DIGGING: potion.digSpeed.postfix
  SLOW_DIGGING: potion.digSlowDown.postfix
  INCREASE_DAMAGE: potion.damageBoost.postfix
  HEAL: potion.heal.postfix
  HARM: potion.harm.postfix
  JUMP: potion.jump.postfix
  CONFUSION: potion.confusion.postfix
  REGENERATION: potion.regeneration.postfix
  DAMAGE_RESISTANCE: potion.resistance.postfix
  FIRE_RESISTANCE: potion.fireResistance.postfix
  WATER_BREATHING: potion.waterBreathing.postfix
  INVISIBILITY: potion.invisibility.postfix
  BLINDNESS: potion.blindness.postfix
  NIGHT_VISION: potion.nightVision.postfix
  HUNGER: potion.hunger.postfix
  WEAKNESS: potion.weakness.postfix
  POISON: potion.poison.postfix
  WITHER: potion.wither.postfix
  HEALTH_BOOST: potion.healthBoost.postfix
  ABSORPTION: potion.absorption.postfix
  SATURATION: potion.saturation.postfix

potionLevel:
  '0': potion.potency.0
  '1': potion.potency.1
  '2': potion.potency.2
  '3': potion.potency.3

potionExtra:
  SPLASH: potion.prefix.grenade
  MUNDANE: potion.prefix.mundane
  AWKWARD: potion.prefix.awkward
  THICK: potion.prefix.thick
  NONE: potion.empty

eggNames:
  '50': entity.Creeper.name
  '51': entity.Skeleton.name
  '52': entity.Spider.name
  '54': entity.Zombie.name
  '55': entity.Slime.name
  '56': entity.Ghast.name
  '57': entity.PigZombie.name
  '58': entity.Enderman.name
  '59': entity.CaveSpider.name
  '60': entity.Silverfish.name
  '61': entity.Blaze.name
  '62': entity.LavaSlime.name
  '65': entity.Bat.name
  '66': entity.Witch.name
  '90': entity.Pig.name
  '91': entity.Sheep.name
  '92': entity.Cow.name
  '93': entity.Chicken.name
  '94': entity.Squid.name
  '95': entity.Wolf.name
  '96': entity.MushroomCow.name
  '98': entity.Ozelot.name
  '100': entity.horse.name
  '120': entity.Villager.name
